*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.container{
    width: 1170px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
}
.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 176px;
    
}
.menu-link{
    color: #263a41;
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 20px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    line-height: 27px;
    margin-right: 4px
   
}
.menu-link:hover {
    color: #ff817e;
}
.itroduction{
    width: 540px;
    margin-top: 75px;
    margin-left: 15px;
}
.itroduction-leading{
    color: #ff817e;
    display: block;
    font-family: "Rufina", serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
}
.itroduction-heading{
    color: #1e2528;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 25px;
    font-family: 'Rufina', serif;
    font-weight: 700;
}
.itroduction-content{
    color: #555;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
}
.reserve-link{
    background-color: #ff817e;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.8;
    text-transform: uppercase;
    min-width: 170px;
    padding: 20px 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
}
.reserve-link:hover{
   color: black;
}
.watch-link:hover{
    color: #ff817e;
    text-shadow: 0 0 0.5px #ff817e;;
}
.icon{
    border-radius: 50%;
    background-color: #fcf5ee;
    color: #ff817e;
    display: inline-block;
    line-height: 44px;
    text-align: center;
    margin-right: 10px;
    height: 44px;
    width: 44px;
    margin-left: 15px;
}
.watch-link{
    color: #555;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 27px;
    text-decoration: none;
}
.aboutt{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://demo.themeies.com/leospa/images/jasmine.png);
    background-repeat: no-repeat;
    background-position: 970px 233px;
}
.about-container{
    background-image: url(https://demo.themeies.com/leospa/images/china-rose.png);
    background-repeat: no-repeat;
    background-position: 31px 0px;
    margin-top: 152px;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}
.about-container-img{
    margin-top: 50px;
}
.about-container-leading{
    margin-top: 40px;
    color: #888;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: .8;
    text-transform: uppercase;
    margin-bottom: 27px;
    font-family: 'Roboto', sans-serif;
}
.about-container-heading{
    color: #1e2528;
    font-size: 42px;
    margin-bottom: 32px;
    font-family: 'Rufina', serif;
    font-weight: 700;
}
.text{
    color: #888;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
}
.about-container-box{
    margin-top: 70px;
    margin-bottom: 100px;
    background-color: #ff817e;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.8;
    text-transform: uppercase;
    min-width: 170px;
    padding: 20px 15px;
    text-align: center;
    
}
.read-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.8;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.read-link:hover {
    color: black;
}
.service-box{
    width: 1263px;
    object-fit: cover;
}
.service-img{
    width: 312px;
}
.service-box1{
    position: relative;
}
.service-hover{
    top: 0;
    position: absolute;
    background-color: rgba(255, 129, 126, 0.9);
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
    font-family: "Rufina", serif;
    font-weight: 700;
    text-align: center;
    padding-top: 50%;
}
.service-box1:hover .service-hover{
    display: block;
}

 .Procedures-main{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
 }
 .Procedures-container{
    width: 730px;
    margin-left: auto;
    margin-right: auto;
 }
 .Procedures-heading{
    color: #1e2528;
    font-size: 42px;
    margin-bottom: 32px;
    font-family: 'Rufina', serif;
    font-weight: 700;
 }
.Procedures2{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 1108px;
}
.img3 {
    width: 100%;
    max-width: 309px;
    margin-top: 21px;
}
.box {
    border: 1px solid #e3e6ea;
    width: 350px;
}
.box:hover{
    box-shadow: 0 5px 20px #f0f0f0;
}
.box2 {
    background-color: #30383b;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.8;
    text-transform: uppercase;
    width: 170px;
    padding: 20px 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 39px;
    margin-bottom: 51px ;
}
.box2:hover {
    background-color: #ff817e;
    border-radius: 50px;
    color: #fff;}
.imgbox{
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    
   
}
h4{
    margin-top: 34px;
    margin-bottom: 22px;
    color: #263a41;
    font-size: 22px;
    font-family: 'Rufina', serif;
    font-weight: 700;
    text-align: center;
    
}
.Experienced1{
    background-color: #fff;
    box-shadow: 0 5px 20px #f0f0f0;
    max-width: calc( 100% - 60px);
    margin: -50px auto 0;
    padding: 30px;
    position: relative;
    text-align: center;
    transition: all 300ms ease-in-out;
    z-index: 1;
    color: #6c6c6f;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
}
h6{
    color: #263a41;
    font-size: 22px;
    margin-bottom: 0;
    font-family: 'Rufina', serif;
    font-weight: 700;
}
.appointment{
    margin-top: 100px;
    color: #6c6c6f;
    background-color: #FFF9F8;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
    width: 100%;
    
}
.appointment1{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}
.appointment2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.form#comments{
    width: 100%;
    height: 74px;
}
.form{
    background-color: #fff9f8;
    width: calc((100% - 13px) / 2);
    height: 48px;
    padding: 10px 0;
    color: #999999;
    border: 0;
    border-bottom: 1px solid #999999;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 27px;
    text-transform: uppercase;
}
.make-link {
    background-color: #ff817e;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.8;
    text-transform: uppercase;
    min-width: 170px;
    padding: 20px 15px;
    border: none;
    font-family: inherit;
}
.blog {
    margin-top: 100px
}

.submit{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}
.icon-sub{
    border-radius: 50%;
    background-color: #ff817e;
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    margin-right: 30px;
    height: 50px;
    width: 50px;
    margin-left: 15px;
}
.sub-link{
    color: #888;
    font-size: 14px;
    font-weight: 400;
    
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: inherit;
    
}