*{
    background-color: rgb(6, 18, 30);
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    line-height: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: rgb(177, 162, 30);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    
}
.title{
    margin-top: 15px;
    color: white;
}
.title2{
    color: antiquewhite;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.flex-box{
   border-top: 1px solid rgb(27,60,93);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
.content{
    max-width: 230px;
    height: auto;
    overflow: hidden;

}
.content:hover{
    box-shadow: 0 0 5px rgba(229, 247,150, 1.5);
}